@model BusMeApp.Models.City

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
                <div class="col-md-6 col-md-pull-8 ml-auto">
                    <div class="booking-form">
                        <h3>Delete City</h3>
                        <form align="center">
                            <dl>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CityName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CityName)
                                </dd>
                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-danger col-md-5" />
                                    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-primary col-md-5" })
                                </div>
                            }

                        </form>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
