@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>

<address>
    <p> You can chat directly with the administrator of the page or you can send e-mail to the following address.</p>
    <strong>Support: </strong><a href="mailto:admin@busmeapp.com">admin@busmeapp.com</a><br />
</address>


