@{
    ViewBag.Title = "Home Page";
}

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Content/img/BusInside.jpg" alt="First Photo">
            </div>
            <div class="carousel-item" data-interval="1000">
                <img class="d-block w-100" src="~/Content/img/BusInside2.jpg" alt="Second Photo">
            </div>
            <div class="carousel-item" data-interval="1000">
                <img class="d-block w-100" src="~/Content/img/BusInside3.jpg" alt="Third Photo">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



@*<div>
    <img id="index-img" src="~/Content/img/booking-bus-ticket 1.jpg" alt="Bus Ticket" align="middle">
</div>*@